/* Universal Selector Styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* End Universal Selector Styling */

/* Body */
body {
    background-color: lightskyblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* End Body */

a {
    color: black;
    text-decoration: none;
}

p {
    color: black;
    text-decoration: none;
}

/* Header and Navigation Styling */
header {
    padding: 10px;
    background-color: lightskyblue;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 2px solid black;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: flex;
    padding: 20px;
}
/* End Header and Navigation Styling */

/* Main Content Styling */
content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 50px;
}

content section {
    padding: 15px 0 15px 0;
}

.about-me {
    background-color: white;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    line-height: 1.5;
    align-items: flex-start;
}

.about-me article {
    text-align: left;
}

.about-me h3 {
    padding: 10px 0 10px 0;
}

.about-me p {
    padding-bottom: 15px;
}

.my-work {
    background-color: lightgrey;

    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    line-height: 1.5;
    align-items: flex-start;
}

.my-work h2 {
    text-align: center;
}

.work {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.main-work {
    padding-top: 50px;
    padding-bottom: 20px;
}

.main-work h3 {
    text-align: center;
}

.main-work img {
    width: 400px;
    height: 400px;
    object-fit: contain;
    margin-bottom: 10px;
    border: 5px solid black;
}

.other-work {
    justify-content: left;
}

.other-work img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-bottom: 10px;
    border: 5px solid black;
}

.other-work h3 {
    text-align: center;
}

.contact-me {
    background-color: white;
    color: black;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.contact-me h2 {
    padding: 10px 0 10px 0;
}

.contact-me div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: underline;
}

.contact-me div ul {
    display: flex;
}

.contact-me div ul li {
    display: flex;
    padding: 20px;
}

footer {
    padding: 10px;
    border-top: 2px solid black;
    text-align: center;
}